*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.menu-bar{
    background-image: linear-gradient(to right,#6db9ef,#7ce08a) !important;
}
.nav-link{
    font-size: 16px;
    color: #fff !important;
}
.interface{
    background-image: linear-gradient(white,#6db9ef);
}
.interface .interface-image img{
    clip-path: polygon(0% 0%, 75% 0, 100% 50%,75% 100%,0% 100%);

}
.interface{
    display: flex;
   
    margin: 0;
   
     align-items: center;
}
.right-text p1{
    font-size: 60px;
    font-family: fantasy;
    color: white;
    opacity: 0.5;
}
.right-text p2,p3{
    color: white;
}
.search-job{
     background-image: linear-gradient(to right,#6db9ef,#7ce08a) !important;
   
    padding: 30px 0;
    margin: 2px 50px 10px 50px;
    
}
.search-job .form-inline{
    display: flex;justify-content: space-around;
}
#recruitment{
    padding-top: 50px;
    padding-bottom: 100px;
}
#recruitment h3{
    text-align: center;
    padding-bottom: 40px;
}
h3::before{
    content: "";
     background-image: linear-gradient(to right,#6db9ef,#7ce08a) !important;
    width: 50px;
    height: 30px;
    position: absolute;
    z-index: -10;
    margin-top: -15px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 90px;
}
#recruitment img{
    max-width: 100px;
    margin: 20px 40px;
}
.company-details{
    box-shadow: 0 2px 70px 0 rgba(110,130,208,0.18);
    border-radius: 5px;
    margin-bottom: 20px;
}
.job-update{
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.job-update .fa{
    margin-top: 5px;
    margin-right: 10px;
    color: #77d1b1;s
}
.job-update small{
    background: #efefef;
    padding: 1px 5px;
    margin: 0;
}

.job-update p{
    margin-bottom: 0 !important;
}
.apply-btn{
    height: 40px;
    padding: 7px;
    background-image: linear-gradient(to right,#6db9ef,#7ce08a) !important;
     border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.apply-btn .btn-primary{
    height: 27px !important;
    line-height: 27px;
    width: 100px;
    padding: 0 30px;
    float: right;
    background: transparent;
    border: 1px solid #fff;
    box-shadow: none !important;
}
.pagination{
    display: flex;
    justify-content: center;
}
.pagelink{
 
    text-decoration: none !important;
    display: block;
}
.pagination li:hover{
    background: linear-gradient(to right,#6db9ef,#7ce08a) !important;
}
.one,.two{
     background: linear-gradient(to right,#6db9ef,#7ce08a) !important;
}
.page-item{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid grey;
    padding: 2px;
    text-align: center;
}
.firstpageleftarrow{
    display: none;
}
#site-stats{
    padding: 100px 0;
}
#site-stats h3{
    margin-bottom: 30px;
}
.stats-box{
    width: 150px;
    height: 150px;
   
    display: block;
    padding: 30px;
    margin: 15px auto;
    box-shadow: 1px 2px 3px black;
}
#app-banner{
     background-image: linear-gradient(to right,#6db9ef,#7ce08a) !important;
    padding: 50px 0;
}
#app-banner img{
    width: 268px;
    height: 122px;
    margin: 20px 60px;
    border-radius: 10px;
}
#app-banner h1{
    margin-top: 20px;
    color: #fff;
}
#footer{
    background-color: #f8f9fd;
    padding: 20px 10px 8px;
}
#footer h3{
    margin: 30px 0;
}
#footer p{
    color: #333;
}












.preloader{
    width: 100%;
    height: 100vh;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
     display: grid;
    place-items: center;
    z-index: 9999;
}
.center{
    position: relative;
    
     width: 300px;
    height: 300px;
}
.center-div{
    width: 300px;
    height: 300px;
    background: #000;
   border-right: 5px solid #fff;
  
    animation: rot 2s linear infinite;border-radius: 50%;
}
.center h1{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}













@media only screen and (max-width: 767px){
    .row{
        position: relative;
    }
    .right-text{
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) !important;
        
    }
    .right-text p1{
        
        opacity: 0.9;
    }
    .right-text p2,p3{
        color: #7ce08a;
    }
    .form-control{
        margin-left: 10px;
        margin-right: 10px;
    }
}